body, html{
	font-weight: normal;
	font-style: normal;
	font-family: 'Segoe Ui'
}

h1{ font-size: 27px; }

h2{ font-size: 24px; }

.clearfix{
	overflow: auto;
	zoom: 1;
}

.page{
	width: 1024px;
	margin: 0 auto;
}
