header#master{
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid #ccc;

  nav{
    width: 1024px;

    ul{
      float: right;
      line-height: 80px;
      margin-bottom: 0;

      li{
        display: inline-block;
        font-size: 15px;
        margin: 0 8px;
      }
    }
  }
}
