<h1>Olá <%= current_user.name %></h1>

<p>Itens: </p>
<% @donations.each do |donation| %>
  <p><%= donation.item.name %></p>
  <p><%= link_to 'Enviar comprovante',
  	receipt_donation_path(donation.id) %>
	</p>
<% end %>
