#donation-form{
	form{
		margin: 16px 0;
	}

	.items-container, .user-container{
		float: left;
		width: 49%;
		padding: 0 0.5%;

		h2{
			font-size: 24px;
			font-weight: bold;
		}

		label{
			font-size: 14px;
		}
	}
}
